#pagination div {
    display: inline-block;
    background-color: aliceblue;
    border: 1px solid aliceblue;
    padding: 5px;
}
#pagination div:hover{
    border: 1px solid lightseagreen;
}
#unauthorized {
    text-align: center;
}
table.center{
    margin-left:auto;
    margin-right:auto;
}
a {
    text-decoration: none;
    color: black;
    text-align: left;
    float: left;
    font-size: small;
}
a:hover {
    color: darkgray;
}
#account_info {
    background-color: blanchedalmond;
    border: 1px solid black;
}

#account_info table {
    color: saddlebrown;
}